body{
    background-color: black;
}
img{
    width: 100%;
    height: 350px;
    border-bottom: 10px solid blue;
    border-radius: 1em;
}
video{
    height: 400px;
}

article{
    margin: 0.5%;
    padding: 0.5%;
    height: 420px;
    width: 30.33333%;
    float: left;
    background-color: grey;
    border-radius: 1em;
    border: 1px solid black;
    text-align: center;
    min-width: 260px;
    }
.double, .half{
    width: 62.66666%;
}

p{
    color: navajowhite;}
video{
    width: 100%;
}
@media screen and (max-width: 960px)
{
    article{
        width: 45%;
    }
    .double, .half{
        width: 99%;
    }

}
@media screen and (max-width: 650px) {
    article{
        width: 99%;
    }
}
