body{
    background-color: black;
}
img{
    width: 100%;
    height: 350px;
    border-bottom: 10px solid blue;
    border-radius: 1em;
}

article{
    margin: 0.5%;
    padding: 0.5%;
    height: 420px;
    width: 30.33333%;
    float: left;
    background-color: grey;
    border-radius: 1em;
    border: 1px solid black;
    text-align: center;
    min-width: 260px;
    }
p{
    color: navajowhite;

video{
    width: 100%;
}
